
.detail_movie .content{
    width: 500px;
}
.detail_movie .detail_title{
    text-align: center;
}
.detail_movie .detail_year{
    text-align: right;
    font-weight: 500;
    font-size: 14px;
}
.detail_movie .detail_img{
    width: 300px;
}